{
  "project_info": {
    "project_number": "858824058807",
    "project_id": "vault-4e944",
    "storage_bucket": "vault-4e944.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "DOWNLOAD_FROM_FIREBASE_CONSOLE",
        "android_client_info": {
          "package_name": "com.glmorris1.vault"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "DOWNLOAD_FROM_FIREBASE_CONSOLE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
